# node modules #
/node_modules
npm-debug.log

# WebStorm Meta #
/.idea
*.iml

config.js

# sencha #
core/client/build/
core/built/
core/client/touch/

# built meta #
/.build
/.dist

# coverage report #
coverage.html